<!-- order.component.html -->
<div class="container my-5 bg-dark text-white ">
    <h1 class="d-flex justify-content-center"><b>Order History</b></h1>
  
    <h2> Thanks for trusting us! </h2>
   
    <div *ngFor="let order of allOrders">
      <hr>
      <h3>Order ID: {{ order.orderid }}</h3>
    
      <table class="table mt-3">
        <thead class="bg-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let item of order.orderItems">
            <td>{{ item.product.name }}</td>
            <td>
              <img [src]="item.product.img" height="55" class="card-img-top" alt="Product Image">
            </td>
            <td>₹{{ item.orderPrice | number: '1.2-2' }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.orderPrice * item.quantity | number: '1.2-2' }}</td>
            <td>Delivered</td>
          </tr>
        </tbody>
      </table>
      <div>
        
      </div>
<!--    
      <h4 class="text-success font-weight-bold end-0">
        Total Amount of this order is: ₹{{ getTotalPrice(order) | number: '1.2-2' }}
      </h4> -->
      <div class="mb-5">
        <strong>Address:</strong>
        {{ order.userid.address.houseNo }}, {{ order.userid.address.area }},
        {{ order.userid.address.landmark }}, {{ order.userid.address.village }},
        {{ order.userid.address.city }}, {{ order.userid.address.state }} -
        {{ order.userid.address.pincode }}
      </div>
    </div>
  
  
  </div>