

<div class="footer  mt-5 mb-5 bg-dark text-white">
  <div class="row ms-5 ">
    <div class="col mt-5">
      <img src="assets/2.png" height="150px" alt="Your Logo" class="logo ">
    </div>
    <div class="col mt-5">
      <h4>Contact Us</h4>
      <p>Email: infoBazar&#64;gmail.com</p>
      <p>Phone: +91 99999 99999</p>
      <p>Address: Bazar Arcade, Hightech City, Hyderabad, Telangana, India</p>
    </div>
    <div class="col mt-5">
      <h4>Quick Links</h4>
      <ul>
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <i class="fas fa-home"></i> Home</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link " routerLink="/Electronics">
            <i class="fas fa-laptop"></i> Electronics
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/Sports">
            <i class="fas fa-futbol"></i> Sports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/Home Furniture">
            <i class="fas fa-chair"></i> Home Furniture
          </a>
        </li>
       
      </ul>
    </div>
   
    <div class="col-md-3 col-lg-3 mt-5 me-5">
      <h4>Follow Us</h4>
      <div class="row">
        <div class="col">
          <a class="text-light" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
        </div>
        <div class="col">
          <a class="text-light" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>
        <div class="col">
          <a class="text-light" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>
        <div class="col">
          <a class="text-light" href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube fa-lg"></i>
          </a>
        </div>
        <div class="col">
          <a class="text-light" href="https://www.discord.com/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-discord"></i>
          </a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <p>&copy; 2023 Bazar. All rights reserved.</p>
    </div>
  </div>
</div>
